@media all and (max-width: 980px) { #intro .video video { width: 100%; }
  #intro .typing { font-size: 32px; }
  .contentsWrap { padding: 50px; }
  .contentsWrap .section h2 { font-size: 64px; }
  #profile ul li dl, #career ul li dl, #portfolio ul li dl, #contact ul li dl { font-size: 24px; }
  #profile ul li dl dt .seperation, #career ul li dl dt .seperation, #portfolio ul li dl dt .seperation, #contact ul li dl dt .seperation { margin: 0 10px; }
  #skill ul li dl dt { font-size: 18px; }
  #portfolio { margin-top: 100px; }
  #portfolio #filter { margin-top: 80px; }
  #portfolio .itemList li { width: calc(50% - 10px); margin: 5px; }
  #contact .formWrap { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  #contact .formWrap form { margin-top: 50px; padding-left: 0px; } }

@media all and (max-width: 640px) { .contentsWrap .section { min-height: auto; }
  #intro .typing { font-size: 24px; }
  #profile ul li dl, #career ul li dl { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
  #portfolio #filter ul { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  #portfolio #filter ul li { width: 100%; margin: 5px 0; }
  #portfolio .itemList { margin: 30px auto 50px; }
  #portfolio .itemList li { width: 100%; margin: 10px 0; } }

@media all and (max-width: 480px) { .contentsWrap { padding: 0 20px; } }
