@import "vars";
@import "mixins";
.contentsWrap {
  overflow: hidden;
}
#intro {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  //1920/1080
  .video {
    position: relative;
    height: 100%;
    overflow: hidden;
    // &:before {
    //   content: "";
    //   display: block;
    //   padding-top: 56.25%;
    // }
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
    }
    video {
      width:100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left:0;
      top:0;
    }
  }
  .typing {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 64px;
    font-weight: 100;
    z-index: 2;
    text-transform: uppercase;
    @include longShadow(#111, right, 600);
    strong {
      font-weight: 700;
    }
  }
}
.contentsWrap {
  position: relative;
  z-index: 2;
  background-color: #fff;
  padding: 100px;
  margin-top: 100vh;
  .section {
    min-height: 100vh;
    h2 {
      font-size: 128px;
      font-weight: 700;
      text-transform: uppercase;
      //color: #fff;
      padding-bottom: 20px;
      border-bottom: 1px solid #111;
      margin-bottom: 20px;
    }
    .contents {
      min-height: 500px;
    }
  }
}

#profile,#career,#contact {
    ul {
        li {
            margin: 15px 0;
            dl {
                display: flex;
                font-size: 48px;
                font-weight: 500;
                dt {
                    // &:after {
                    //   content: ":";
                    //   display: inline-block;
                    //   margin: 0 10px;
                    // }
                    .seperation {
                        display: inline-block;
                        margin: 0 20px;
                    }
                }
                dd {
                    font-weight: 700;
                }
            }
        }
    }
}

#career {
  padding-top: 100px !important;
}

#skill {
  padding-top: 100px !important;
  .contents {
    padding-top: 100px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      //border: 10px solid #ccc;
      border-radius: 100%;
      width: 200px;
      height: 200px;
      box-sizing: border-box;
      margin: 10px;
      text-align: center;
      dl {
        position: absolute;
        left: 50%;
        top: 50%;
        width:100%;
        transform: translate(-50%, -50%);
        dd {
          font-size: 42px;
          .num {
            font-weight: 700;
          }
        }
      }
      .round {
        position: relative;
        z-index: 2;
        svg {
          width: 200px;
          height: 200px;
          position: relative;
          transform: rotate(-90deg);
          circle {
            fill: transparent;
            stroke-width: 10px;
            stroke: #111;
            stroke-linecap: round;
            
          }
          &.line {
            z-index: 2;
            stroke-dasharray: 570;
            stroke-dashoffset: -570;
          }
          &.bg {
            position: absolute;
            left:0;
            top:0;
            circle {
              
              stroke: #ccc;
            }
          }
        }
      }
    }
  }
}

#portfolio {
  padding-top: 100px !important;
  #filter {
    margin-top: 150px;
    ul {
      display: flex;
      justify-content: center;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 50px;
        background-color: #111;
        color: #fff;
        font-size: 18px;
        border-radius: 100px;
        margin: 0 10px;
        overflow: hidden;
        &.on {
          background-color: #c92a2a;
          @include longShadow(darken(#c92a2a, 10), right, 50);
        }
      }
    }
  }

  .itemList {
    //width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc(33.33% - 20px);
      margin: 10px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      padding: 10px;
      box-sizing: border-box;
      img {
        width: 100%;
        max-height:300px;
        object-fit: cover;
      }
      h2 {
        font-size: 24px;
        padding: 15px 0;
        font-weight: 700;
      }
      p {
        line-height: 1.5;
        strong {
          font-weight: 700;
          margin-left: 10px;
        }
      }
      .desc {
        line-height: 1.5;
      }
      
    }
  }

  .cursor {
    width: 10px;
    height: 10px;
    display: flex;
    border-radius: 100px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    position: fixed;
    left: 100px;
    top: 100px;
    user-select: none;
    pointer-events: none;
    transform: translate(-50%, -50%);
    //display: none;
  }
}

#contact {
  padding-top: 100px !important;
  .formWrap {
    display: flex;
    justify-content: space-between;
    form {
      flex-grow: 1; // 여백 가져가기....
      padding-left: 100px;
      .inputWrap {
        margin-bottom: 15px;
      }
      input, textarea {
        height: 50px;
        background-color: #111;
        width:100%;
        color:#fff;
        padding:0 15px;
        border-radius: 5px;
        border: none;
        outline: none;
        box-sizing: border-box;
      }
      textarea {
        height: 300px;
        padding-top: 15px;
        resize: none;
      }
      .btns {
        display: flex;
        justify-content: flex-end;
        button {
          height: 50px;
          width:120px;
          background-color: rgb(0, 156, 177);
          color:#fff;
          border-radius: 5px;
        }
      }
    }
  }
}


.fancybox__caption {
  display: flex;
  margin-top: 30px;
  align-items: center;
}
.fancybox__caption a {
  padding:10px 20px;
  background-color: rgb(2, 136, 224);
  margin-left: 30px;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  @include longShadow(darken(rgb(2, 136, 224),10),right,30);
}